$white: #ffffff;
$black: #000000;
$red: #cc0000;
$bluegreen: #52696d;



$rust-light: #c17a57;
$rust: #Be3a09;
$cream: #faf5f0;
$tan: #c5a698;
$blue: #67828a;


$gray: #434343;


.bg-black {
    background-color: $black;
}