@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Noto+Sans+Mende+Kikakui&display=swap');
$azo: 'azo-sans-web';

$azouber: 'azo-sans-uber';

$sans: 'Helvetica', 'sans-serif';

$body: "Lexend Zetta", sans-serif;
$title: "Lexend Zetta", sans-serif;



.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}