body {
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.h1 {
  font-size: clamp(50px, 14vw, 200px);
  line-height: 1em;
  font-family: $title;
}

.h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  font-family: $title;

  @media (min-width: 768px) {
    font-size: 4em;
  }
}

.h2-alt {
  line-height: 1;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $cream;
  font-family: $title;

  @media (max-width: 767px) {
    font-size: 1.7rem;
  }
}

.h2-large {
  font-size: 1.8rem;
  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

.h3 {
  font-size: 1.4rem;

  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }
}

.h4 {
  font-size: 1.4rem;
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

.h5 {
  font-size: 1.3rem;
  letter-spacing: 0.02em;
  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

.h6 {
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: 1.8em;
  @media (min-width: 1024px) {
    font-size: 1.1rem;
  }

  p + p {
    margin-top: 1.5em;
  }
}


.paragraph, .h6 {
  font-size: 1.1rem;
  line-height: 1.5em;
  font-weight: 300;
  * + p {
    margin-top: 1.5rem;
  }

  h3 {
    @extend .h3;
    text-transform: uppercase;
  }

  ul {
    margin-top: 1.5rem;
    list-style-type: none;
    padding-left: 20px;
    li {
      position: relative;
      padding-left: 15px;

      + li { margin-top: .8em; }

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: .6rem;
        left: 0;
        width: 6px;
        height: 6px;
        background:$blue;
        border-radius: 50%;
      }
    }
  }

  a {
    text-decoration: underline;
  }
}


.paragraph-large {
  font-size: 1.3rem;
  line-height: 1.6em;
}

.paragraph-small {
  font-size: .9rem;
  line-height: 1.6em;
}



.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}